@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|ZCOOL+QingKe+HuangYou');
:root {
    /* Main Colors */
    --color-primary: var(--color-green);
    --color-secondary: var(--color-primary);
    --color-accent: var(--color-green);
    --color-dark: var(--color-black);
    --color-neutral: var(--color-gray);
    --color-light: var(--color-white);
    
    /* Colors */
    --color-red: #FF4136;
    --color-orange: #FF851B;
    --color-yellow: #FFDC00;
    --color-green: #41FF00;
    --color-blue: #0074D9;
    --color-indigo: #001f3f;
    --color-violet: #B10DC9;
    /* Grayscale */
    --color-black: black;
    --color-gray: gray;
    --color-white: white;
    /* CSSDOM */
    /* Page */
    --page-background: var(--color-dark);
        /* Header */
    --header-font: var(--content-font, sans-serif);
    --header-color: var(--color-blue);
        /* Footer */
    --content-font: 'Press Start 2P', sans-serif;
    --content-size: 16px;
    --content-color: var(--color-primary, var(--color-black, black));
    /* Container */
    --container-padding: 1vh 1vw;
    --container-background: var(--page-background, 0);
        /* Grid */
    --grid-column-width: 3vw;
    --grid-column-height: 1vh;
            /* Column */
    --column-height: calc(var(--grid-column-height) / 2);
    --column-width: calc(var(--grid-column-width) / 2);
    --border-radius: 5px;

}

/* section {display: flex;}
 */
@media screen and (max-width: 640px) {
    :root {
        --font-size: 13px; 
    }
}


@media screen and (max-width: 900px) {
    section {display: block;max-width: 90vw; position: relative;}
    section > :not(:first-child) { margin-top: var(--column-height); }
}

h1 {font-size: calc(1.5rem * var(--header-scale, 1));}
h2 {font-size: calc(1.4rem * var(--header-scale, 1))}
h3 {font-size: calc(1.3rem * var(--header-scale, 1));}
h4 {font-size: calc(1.2rem * var(--header-scale, 1));}
h5 {font-size: calc(1.1rem * var(--header-scale, 1));}
h6 { font-size: calc(1rem * var(--header-scale, 1));}

hr, dialog { border: var(--border-style); border-radius: var(--border-radius, 0); }

dialog { 
    border-color: var(--color-green);
    background: var(--container-background);
    color: var(--color-green);
}

output section[with-border] {
    margin: 1rem 0; 
}
